<a href="https://colab.research.google.com/github/gguex/ISH_ressources_cours_ML/blob/main/TP1_prise_en_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning (Lettres) TP 1 : Prise en main

## Les notebooks

Ce que vous avez devant les yeux est un **Jupyter Notebook**. C'est un rapport interactif, qui permet d'écrire du texte formaté (dans un langage de balises appelé *Markdown*, voir p.ex. https://www.markdowntutorial.com/) ainsi que du code, comme ci-dessous :

In [3]:
# Un exemple de code en Python
a = 5
b = 12
print(f"Le résultat de a + b est égal à {a + b}")

Le résultat de a + b est égal à 17

Vous devez normalement voir le résultat de votre sortie juste après le bloc de code. Remarquez que vous pouvez à tout moment modifier une partie du code pour changer son execution. (Faites le ! C'est en testant des choses que l'on apprend le mieux) Pour plus de détails à propros des Jupyter Notebooks https://docs.jupyter.org/en/latest/.

L'avantage des notebooks, c'est qu'ils peuvent s'executer en local (sur votre machine), mais également sur un environnement d'execution distant (un serveur). Il existe plusieurs services proposant des serveurs pour des Jupyter Notebooks, p.ex. :

* Google Colab: https://colab.research.google.com/
* Paperspace Gradient : https://www.paperspace.com/gradient
* Kaggle : https://www.kaggle.com/
* Amazon SageMaker : https://aws.amazon.com/fr/sagemaker/

L'avantage des serveurs, c'est que l'installation (parfois fastidieuse) des différentes librairies Python est déjà faite, et qu'ils disposent de GPU (Graphical Processing Units), utiles pour l'entraînement de nombreux modèles de Machine Learning.

## Chargement et manipulation des données avec pandas

La première librairie python dont nous allons (re)voir l'utilisation est `pandas` (https://pandas.pydata.org/), qui permet le chargement des fichiers de données ainsi que leur manipulation. On commence par la charger (on utilise fréquemment l'alias `pd` pour cette dernière) :

In [6]:
import pandas as pd

Vérifier que le chemin d'accès pour le fichier "iris.csv" pointe au bon endroit dans la première ligne de code de ce qu'il suit. Le chargement s'effectue ensuite facilement avec la fonction `pd.read_csv(<file_path>)` (il existe plusieurs options dans cette fonction pour, p.ex., changer le séparateur ou formater les variables) :

In [7]:
file_path = "drive/MyDrive/Colab Notebooks/ml_data/TP1/iris.csv"
my_df = pd.read_csv(file_path)
print(my_df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]